<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.ectest.servlets.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/bonjour</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.ectest.servlets.Accueil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    

</web-app>
